.feelingsBox{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: dashed #A0B2CD 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.feelingsRow{
    display: inline-flex;
}

.feelingsItem{
    background-color: #E1E7F0;
    border: solid gainsboro 0.2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: medium;
}