.feelingsBox{
    background-color: thistle;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feelingsRow{
    background-color: bisque;
    display: inline-flex;
}

.feelingsItem{
    background-color: aquamarine;
    padding: 5px;
    margin: 5px;
}