.info-main {
  display: flex;
  width: inherit;
  
}

.info-text {
  max-width: 50%;
  padding: 0 3%;
}

.info-video {
  position: relative;
  overflow: hidden;
  width: 50%;
}

.youtube-video {
  aspect-ratio: 16/9; 
  padding-top: 40;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  padding-top: 5%;
}