
table {
  text-align: left;
  font-size: 1.6rem;
}

table {
  max-width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
  width: auto;
}

th {
  background-color: #4CAF50;
  color: white;
}

