.needsBox{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: dashed #A0C8CD 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.needsRow{
    display: inline-flex;
}

.needsItem{
    background-color: #E1EEF0;
    border: solid gainsboro 0.2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: medium;
}