/* h1{
  color: #414754;
  font-size: 3rem;
}

h2{
  padding: 2rem;
  font-size: large;
  font-weight: bold;
  color: #414754;
} */

p {
  font-size: 1.7rem;
  text-align: left;
  line-height: 1.5em; 
}

a{
  color: darkgray;
}

button{
  font-size: medium;
  width: 6rem;
  height: 3rem;
  background-color: #F2F1F0;
  border: solid gray 1.5px;
  margin: 0.5rem;
}

main{
  padding: 2rem;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}